[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
xdg = "*"

[dev-packages]
mypy = "*"
pylint = "*"
twine = "*"
typing-extensions = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.12"
